<div class="treatment-listing-card">
  <li class="list-group-item">
    <h3>
      <a href="/treatments/{{ treatment.id }}">{{ treatment.medication_regimen.title }}</a>
    </h3>
    {% if treatment.medication_regimen.is_for_injectable %}
    <a class="btn btn-outline-primary rounded-button" href="/treatments/{{treatment.id}}/injections">
      Add an injection
      <i class="fa-solid fa-plus"></i>
    </a>
    {% endif %}
    <a class="btn btn-outline-primary rounded-button" href="/treatments/{{treatment.id}}/update">
      Update treatment detail
      <i class="fa-solid fa-pencil"></i>
    </a>
    <div class="row">
      <!-- Note: If you adjust the columns, bootstrap assumes mobile-first design -->
      <div class="treatment-description col-12 col-md-4">
        <h4>Last Fill Info</h4>
        <hr width="50%">
        {% if treatment.is_refill_needed %}
          <b>You're within 10 days of your last fill running out!</b>
          <br>
        {% endif %}
        {% if treatment.last_fill.notes %}
          <p><b>Notes:</b> {{treatment.last_fill.notes }}</p>
        {% endif %}
        <p><b>Last fill date:</b> {{ treatment.last_fill.occurred_at }}</p>
        <p><b>Pharmacy filled:</b> {{ treatment.last_fill.filled_by }}</p>
        <p><b>Lasts until:</b> {{ treatment.friendly_run_out_date_info.friendly_date.date }}</p>
        <p><b>Days supply from last fill:</b> {{treatment.last_fill.days_supply }}</p>
      </div>
      {% if treatment.requires_labs %}
      <div class="lab-card col-12 col-md-4">
        <h4>Lab Info</h4>
        <hr width="50%">
        <p>
          Treatment id for dev purposes: {{treatment.id}}
        </p>
        <p>
          <b>
            Labs every:
          </b>
          {{ treatment.lab_frequency_in_months }} months
        </p>
        <p>
          <b>
            Lab point in cycle:
          </b>
          <!-- {{ treatment.lab_point_in_cycle }} -->
        </p>
        <p>
          <b>
            Next labs due:
          </b>
          {{ treatment.friendly_next_lab_due_date.full_date_time }}
        </p>
        <p>
          <b>
            Provider:
          </b>
          {{ treatment.clinic_supervising }}
        </p>
      </div>
      {% endif %}

      {% if treatment.injections|length > 0 %}
      <div class="treatment-description col-12 col-md-4">
        {% if treatment.last_injection_details.injection.notes %}
        <p>
          <b>Notes from last injection:</b>
          {{ treatment.last_injection_details.injection.notes }}
        </p>
        <hr width="50%">
        {% endif %}
        </hr>
        <h4>Injection Info</h4>
        <hr width="50%">
        <p><b>Most recent injection date:</b> {{ treatment.last_injection_details.occurred_at.full_date_time }}</p>
        <p><b>Next injection date:</b> {{ treatment.calculate_next_injection_detail().time_due.full_date_time }}</p>
        <p><b>Next injection position:</b> {{ treatment.calculate_next_injection_detail().position[0] }} side,
          {{treatment.calculate_next_injection_detail().position[1]}} quadrant</p>
        <p><b>Frequency:</b> every {{ treatment.frequency_in_seconds / 86400 }} days </p>
        <p>
          <b>Total injections:</b> {{ treatment.injections|length }}
        </p>
        <p><b>Starting injection date: </b> {{ treatment.friendly_start_date.full_date_time }}</p>
        {% elif treatment.medication_regimen.is_for_injectable %}
        <h2> No injections yet!</h2>
        {% else %}
        <div class="treatment-description col-12 col-md-4">
          <h4>Dose Information</h4>
          <hr width="50%">
          </hr>
          <p>
            <b>Route:</b> {{ treatment.medication_regimen.route }}
            <br>
            <b>Frequency:</b> every {{ treatment.frequency_in_seconds / 86400 }} days
            <br>
            <b>Since:</b> {{ treatment.start_date }}
          </p>
        </div>
        {% endif %}
      </div>
    </div>
  </li>
</div>