{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6 form-card">
    <h2 class="pb-2">Edit treatment detail for {{ treatment.injection_regimen.title }}</h2>

    <form id="treatment-edit-form" class="p-1" method="POST">
      {{ form.hidden_tag() }}
      <!--add type=hidden form fields -->

      {% for field in form
      if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field(class="form-control") }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
      </p>

      {% endfor %}

      <button class="btn btn-outline-primary" type="submit">Submit</button>
    </form>
  </div>
</div>

{% endblock %}