{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="treatment-detail-card">
    <h1 class="pb-3">Details for {{treatment.medication_regimen.title}}</h1>
    <p>
      {% if treatment.medication_regimen.is_for_injectable %}
      <a class="btn btn-outline-primary" href="/treatments/{{treatment.id}}/injections">
          Add an injection
      </a>
      {% endif %}
      <a class="btn btn-outline-primary" href="/treatments/{{treatment.id}}/update">
        Update treatment detail
        <i class="fa-solid fa-pencil"></i>
      </a>
    </p>

    <div class="treatment-description">
      <p>Start date: {{ treatment.friendly_start_date.full_date_time }}</p>
      <p>Frequency: every {{ treatment.frequency_in_seconds / 86400 }} days </p>
      <p>Route: {{ treatment.medication_regimen.route }}</p>
      {% if treatment.medication_regimen.is_for_injectable %}
      <p>Next injection date: {{ next_injection_dow }}, {{ next_injection_date }}</p>
      <p>Next injection position: {{ treatment.calculate_next_injection_detail().position[0] }} side, {{treatment.calculate_next_injection_detail().position[1]}} quadrant</p>
      <p>Injections:</p>
      {% for injection in treatment.injections %}
      <ul id="treatment-injections-list">
        <li>
          <p>Region: {{ injection.body_region.name }}</p>
          <p>Position: {{injection.position.horizontal }}, {{injection.position.vertical }}</p>
          <p>Method: {{ injection.method }}</p>
          <p>Time: {{ injection.friendly_injection_time.full_date_time }}</p>
          <p>Notes: {{ injection.notes }}</p>
        </li>
      </ul>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <a href="/treatments/users/{{treatment.user_id}}" class="btn btn-primary back-button">Back to my treatments</a>
</div>


{% endblock %}