{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- <div class="row"> -->
  <!-- <div class="col-6"> -->
  <h1 class="mb-3 title">All active treatments for {{ user.first_name }}</h1>
  <!-- </div> -->
  <div class="mb-3 add-treatment-button">
    <a class="btn btn-outline-primary rounded-button" href="/treatments/">
      Add new treatment
      <i class="fa-solid fa-house-medical"></i>
    </a>
  </div>
  <div class="treatments-list">
    <div>

      {% for treatment in user.active_treatments %}
        {% include 'treatments/_treatment_listing_card.html' %}
      {% endfor %}

    </div>
  </div>
</div>


{% endblock %}