/* Note: overriding some classes from the theme */
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: rgb(239, 230, 247);
  text-align: var(--bs-body-text-align);
  /* background-color: #191452; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-primary {
  --bs-bg-opacity: 1;
  /**background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;*/
  /* background-color: rgb(219, 146, 220) !important; */
  background-color: rgb(229, 163, 229) !important;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 1rem 2rem;
  margin: 0.25rem;
  color: rgb(76, 75, 75);
  text-decoration: none;
  background-color: #dbeefb;
  border: 1px solid #c2c1c1;
  border-radius: 10px;
}

.treatment-listing-card {
  padding-bottom:5px;
  border-radius: 10px;
  max-width: 80%;
}

.treatment-detail-card {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(76, 75, 75);
  text-decoration: none;
  /* background-color: #ffffff;*/
  /* background-color: #f9f5ef; */
  background-color: #dbeefb;
  border: 2px solid #e8b8e5e6;
  margin-top: 10px;
  border-radius: 10px;
}

.form-card {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: rgb(76, 75, 75);
  text-decoration: none;
  /* background-color: #f7c7d8; */
  background-color: #dbeefb;
  border: 2px solid #e8b8e5e6;
  margin-top: 10px;
  border-radius: 10px;
}

.back-button {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgb(219, 146, 220);
}

.lab-card{
  position: relative;
  right: 0;
  padding: 0.5rem 1rem;
  color: rgb(76, 75, 75);
  /* background-color: #f9f5ef; */
  border: 2px solid #f9f5ef;
  border-radius: 10px;
  /* margin-right: 0.5rem; */
  margin-top: 0.75rem;
}

.treatment-description {
  border: 1px solid white;
  display: block;
  /* max-width: 50%; */
  padding: 0.5rem 1rem;
  color: rgb(76, 75, 75);
  /* background-color: #f9f5ef; */
  background-color: #dbeefb;
  border: 2px solid #f9f5ef;
  border-radius: 10px;
  /* margin-bottom: 0.5rem; */
  margin-top: 0.75rem;
}

.title {
  padding-top: 0.5rem;
}

.logout-button {
  position: absolute;
  right:0;
  margin-right: 0.5rem;
  /* border-radius:25%; */
}

.dash-item {
  border: 1px solid rgb(87, 80, 94);
  background-color: rgb(229, 163, 229);
  /* background-color: #f9f5ef; */
  border-radius:10px;
  padding: 0.5rem 1rem;
}

.add-treatment-button {
  /* position: absolute; */
  right:0;
  margin-right: 0.5rem;
}

.dash-inj-btn {
  /* position: absolute;
  right:0;
  margin-right: 0.5rem; */
}

.rounded-button {
  border-radius: 10px;
}
/* .treatment-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 0.5rem;
} */

/*
possible navbar purple, at least starting point: #964bacba
*/