<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="https://bootswatch.com/5/superhero/bootstrap.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/static/superhero.css">
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://kit.fontawesome.com/907ff366d7.js" crossorigin="anonymous"></script>
  <title>medhead</title>
</head>

<body>

  <div class="container-fixed">

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">medhead</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto">

            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/users/dashboard">
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/treatments/users/{{current_user.id}}">
                <!-- <i class="fa-regular fa-heart"></i> -->
                Your Treatments
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/labs/users/{{current_user.id}}">Your Labs</a>
            </li>
            <!-- <ul class="nav navbar-nav navbar-right"> -->
              <li>
                <form action="/logout" method="POST" class="logout-button">
                  {{ g.csrf_form.hidden_tag() }}
                  <button type="submit" class="btn btn-primary">Log out</button>
                </form>
              </li>
            <!-- </ul> -->
            {% endif %}
            <!-- <li class="nav-item">
              <form class="m-1" method="get" action="/">
                <input name="search" />
                <button class="btn btn-primary btn-sm">search</button>
              </form>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

  </div>


    {% for message in get_flashed_messages(with_categories=False) %}
      <div class="alert alert-dismissible alert-info">
        <!-- <button type="button" class="btn-close" data-bs-dismiss="alert"></button> -->
        <strong>Well done!</strong> {{ message }}
      </div>
    {% endfor %}

    <div class="row">
      <div class="mx-auto my-auto">
        <main class="col w-100">
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>

</body>

</html>