{% extends 'base.html' %} {% block content %}

<section class="container">
  <h1 class="title">{{ current_user.first_name }}'s Dashboard</h1>
  <div class="row">
    <div class="col-6 col-sm-4 col-md-3 dash-item">
      <h3><b>Overview</b></h3>
      <p>
        You're currently on {{ current_user.active_treatments|length }} active
        treatments.
      </p>
      {% for t in current_user.active_treatments %}
      <li class="list-group-item">
        <a href="/treatments/{{ t.id }}">
          <h5>
            {{ t.medication_regimen.title }}
          </h5>
        </a>
        <p>
          Frequency: every {{ t.frequency_in_seconds / 86400 }} days
          <br/>
          Route: {{ t.medication_regimen.route }}
        </p>
      </li>
      {% endfor %}
    </div>
    <div class="col-6 col-sm-4 col-md-3 dash-item">
      <h3><b>Upcoming Injections</b></h3>
      <p>
        You have {{ current_user.upcoming_injection_times|length }} upcoming
        injections.
      </p>
      {% for inj in current_user.upcoming_injection_times %}
      <li class="list-group-item">
        <p>Due: {{ inj.full_date }}</p>
        <p>For treatment {{ inj.treatment.medication_regimen.title }}</p>
      </li>
      {% endfor %}
    </div>
    <div class="col-6 col-sm-4 col-md-3 dash-item">
      <h3><b>Upcoming Labs</b></h3>
      <p>You have {{ current_user.labs|length }} upcoming labs.</p>
      {% for lab in current_user.labs %}
      <li class="list-group-item">
        <p>Due: {{ lab.treatment.next_lab_due_date }}</p>
        <p>For treatment {{ lab.treatment.medication_regimen.title }}</p>
        Routine? {{ lab.is_routine_lab }}
        <br />
        Requires fasting? {{ lab.requires_fasting }}
        Location: {{ lab.treatment.clinic_supervising }}
      </li>
      {% endfor %}
    </div>
    <div class="col-6 col-sm-4 col-md-3 dash-item">
      <p><b>Milestones</b></p>
    </div>
  </div>
</section>

{% endblock %}
