{% extends 'base.html' %} {% block content %}

<section class="container">
  <h1 class="title">{{ current_user.first_name }}'s Dashboard</h1>
  <div class="row">
    <!-- Note: remember, bootstrap assumes mobile-first design! -->
    <div class="col-12 col-sm-4 dash-item">
      <h3>
        <b>Overview</b>
      </h3>
      <p>
        You're currently on {{ current_user.active_treatments|length }}
        <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          active treatments.
        </a>
        <div class="collapse atc" id="collapseExample">
          <div>
            {% for t in current_user.active_treatments %}
            <li class="list-group-item">
              <a href="/treatments/{{ t.id }}">
                <h5>
                  {{ t.medication_regimen.title }}
                </h5>
              </a>
              <p>
                {% if t.frequency_in_seconds == 86400 %}
                Frequency: daily
                {% else %}
                Frequency: every {{ (t.frequency_in_seconds / 86400) | int }} days
                {% endif %}
                <br />
                Route: {{ t.medication_regimen.route }}
                <br>
                Start date: {{ t.friendly_start_date.date }}
              </p>
            </li>
            {% endfor %}
          </div>
        </div>
      </p>

      <h4>
        Refills Due
      </h4>
      <p>
        You have {{ current_user.treatments_needing_refills | length }} refills
        due in the next 10 days.
      </p>

      {% if current_user.treatments_needing_refills|length %}

      {% for t in current_user.treatments_needing_refills %}
      <li class="list-group-item">
        {% if t.last_fill.notes %}
        <p>
          <b>Notes from last fill:</b>
          {{ t.last_fill.notes }}
        </p>
        <hr />
        {% endif %}
        <a href="/treatments/{{ t.id }}">
          <h5>
            {{ t.medication_regimen.title }}
          </h5>
        </a>

        {% if t.friendly_run_out_date_info.is_overdue %}
        <p>
          This fill is overdue!
        </p>
        {% endif %}
        <p>
          Fill due: {{ t.friendly_run_out_date_info.friendly_date.date }}
        </p>
        <a href="/treatments/{{t.id}}/fills">
          <!-- <i class="bi bi-check2-square"></i> -->
          <button class="btn btn-primary btn-sm dash-inj-btn">
            Mark filled
          </button>
        </a>

      </li>
      {% endfor %}

      {% else %}

      <li class="list-group-item">
        <h5>You're caught up!</h5>
      </li>

      {% endif %}

    </div>
    <div class="col-12 col-sm-4 dash-item">
      <h3>
        <b>Upcoming Injections</b>
        <i class="fa-solid fa-syringe"></i>
      </h3>
      <p>
        You have {{ current_user.upcoming_injection_times|length }} upcoming
        injections in the next two weeks.
      </p>
      {% for inj in current_user.upcoming_injection_times %}
      <li class="list-group-item">
        <div>
          {% if inj.treatment.last_injection_details.injection.notes %}
          <p>
            <b>Notes from last injection:</b>
            {{ inj.treatment.last_injection_details.injection.notes }}
          </p>
          <hr />
          {% endif %}
          <p>
            For treatment: {{ inj.treatment.medication_regimen.title }}
            <br>
            Due on: {{ inj.full_date_time.weekday }}, {{ inj.formatted_date }}
            <br>
            Route: {{ inj.treatment.medication_regimen.route }}
            <br>
            Position: {{ inj.treatment.calculate_next_injection_detail().position[0] }} side,
            {{inj.treatment.calculate_next_injection_detail().position[1]}} quadrant
          </p>
          <a href="/treatments/{{inj.treatment.id}}/injections">
            <!-- <i class="bi bi-check2-square"></i> -->
            <button class="btn btn-primary dash-inj-btn">
              Mark complete
            </button>
          </a>
        </div>
      </li>
      {% endfor %}
    </div>
    <div class="col-12 col-sm-4 dash-item">
      <h3>
        <b>Upcoming Labs</b>
        <i class="fa-solid fa-vials"></i>
      </h3>
      <p>You have {{ current_user.upcoming_labs|length }} upcoming labs.</p>
      {% for lab in current_user.upcoming_labs %}
      <li class="list-group-item">
        <p>For treatment: {{ lab.treatment.medication_regimen.title }}</p>
        <p>
          Due by: {{ lab.treatment.friendly_next_lab_due_date.date }}
          <br>
          Location: {{ lab.treatment.clinic_supervising }}
          <br>
          {% if lab.treatment.lab_point_in_cycle %}
          Point in cycle due: {{ lab.treatment.lab_point_in_cycle }}
          {% endif %}
        </p>
        <p>
          {% if lab.is_routine_lab %}
            **Routine**
          {% else %}
            **Supplemental**
          {% endif %}
          <br>
          {% if lab.requires_fasting %}
          **Fasting required**
          {% endif %}
        </p>
        <a href="/labs/users/{{current_user.id}}/{{lab.id}}">
          <button class="btn btn-primary dash-inj-btn">
            Mark complete
          </button>
        </a>
      </li>
      {% endfor %}
    </div>
    <div class="col-12 col-sm-12 dash-item">
      <h3><b>Milestones</b></h3>
      <p>TODO: load this with progress data!</p>
      <!-- <p>You've done {{current_user.num_injections}} total injections!</p>
      {% if current_user.on_time_labs %}
        <p>{{current_user.on_time_labs}} of routine labs completed on time!</p>
      {% endif %} -->
    </div>
  </div>
</section>

{% endblock %}