{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-6">
    <h2 class="pb-2">Login</h2>

    <form id="login-form" class="p-1" method="POST" action="/login?next=/users/dashboard">
      {{ form.hidden_tag() }}
      <!--add type=hidden form fields -->

      {% for field in form
      if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}

        {% if field.type == "BooleanField" %}

        {{ field(class="form-check-input") }}

        {% elif field.type == "SelectField" %}

        {{ field(class="form-select") }}

        {% else %}

        {{ field(class="form-control") }}

        {% endif %}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
      </p>

      {% endfor %}

      <button class="btn btn-outline-primary" type="submit">Submit</button>
      <input type=hidden value="{{ next or '' }}" name=next>
    </form>
  </div>
</div>

{% endblock %}